@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

html {
    scroll-behavior: smooth;
}

scroll-container {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 600px;
}

scroll-page {
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
}

h1 {
    font-family: 'Calligraffitti', cursive;
    text-align: center;
}

p {
    font-family: 'Calligraffitti', cursive;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Calligraffitti', cursive;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    font-family: 'Calligraffitti', cursive;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

#coverPhoto {
    width: 100%;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 375px) {
    h1 {font-size: 25px;}
}

